.info {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgba(0,0,0, .1);
  margin: 15px 30px 0 30px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3px;
}

.desc {
  margin-left: 10px;
  color: rgba(0,0,0,.75);
  font-size: 14px;
  margin-bottom: 0;
}

.container {
  max-width: 950px;
  margin: auto;
}

.album-images {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 15px 0 15px;
  position: relative;
}

.album-images:empty:before {
  position: absolute;
  left: 0;
  top: 30vh;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(0,0,0,.5);
  content: 'No photos';
  font-size: 16px;
  font-style: italic;
}

.album-images .img-container {
  display: flex;
  width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
  border: 10px solid transparent;
  transition: all .2s ease;
  position: relative;
  cursor: pointer;
}

.album-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-images .img-container:hover {
  transform: scale(.95);
}

.album-images .img-container.selected {
  border: 10px solid #009688;
  transform: scale(.95);
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

label[for="files"] {
  position: relative;
}

textarea#url {
  position: absolute;
  left: -1000px;
  opacity: 0;
}