h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.desc {
  margin-left: 7px;
  color: rgba(0,0,0,.75);
  font-size: 14px;
}

.album-images {
  margin-top: 15px;
  padding: 0 15px;
  position: relative;
}

.album-images:empty:before {
  position: absolute;
  left: 0;
  top: 30vh;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(0,0,0,.5);
  content: 'No photos';
  font-size: 16px;
  font-style: italic;
}

.album-images img {
  display: flex;
  max-width: 225px;
  display: inline-block;
  position: relative;
  border: 15px solid transparent;
  transition: all .2s ease-in-out;
  position: relative;
}

.album-images img:hover {
  transform: scale(.95);
}

.album-images img.selected {
  border: 15px solid #eee;
  transform: scale(.95);
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

label[for="files"] {
  position: relative;
}

textarea#url {
  position: absolute;
  left: -1000px;
  opacity: 0;
}