body {
  font-family: BlinkMacSystemFont;
  margin: 0;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

code {
  display: block;
  margin-top: 10px;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', monospace;
  font-size: 12.5px;
  background: #eee;
  padding: 10px;
  border-radius: 3px;
  color: rgba(0,0,0,.75);
  border: 1px solid rgba(0,0,0,.075);
}