header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 20px;
}

header > div {
  display: flex;
}

header > div.info {
  align-items: baseline;
}
